<%
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    const mappedCategories = {};
    categories.forEach((category, index) => {
        mappedCategories[category._id.toString()] = index;
    });
%>
<%- include('../../fragments/header') %>
        <section>
<%- include('../../fragments/sidebar') %>

            <content>
                <thread-header>
                    <h1><%= data.title %></h1>
                    <categories>
<%
    for(const category of data.categories){
%>
                        <a href='/c/<%= categories[mappedCategories[category]].slug %>'><span class='<%= categories[mappedCategories[category]].slug %>'></span><%= categories[mappedCategories[category]].title %></a>
<%
    }
%>
                    </categories>
                </thread-header>

                <thread>
                    <a class='user-icon' href='/u/<%= data.user.username %>'>
                        <img src='<%= data.user.avatar %>' onload='this.className = "show"' title='<%= data.user.username %>' draggable='false' oncontextmenu='return false'>
                    </a>

                    <thread-inner>
                        <form valid-form='<% const formId = uniqid(); %><%= formId %>' action='https://api.<%= config.general.domain %>/thread?id=<%= id %>' method='PUT' target='hiddenFrame'>
                            <%- include('../../fragments/editor', { placeholder: 'Write a thread using Markdown.', content: data.content }) %>

                            <response></response>
                            
                            <input id='<% const buttonId = uniqid() %><%= buttonId %>' type='submit' />
                        </form>
                    </thread-inner>
                </thread>
                <label type='submit' for='<%= buttonId %>'>Comment</label>
                <iframe name='hiddenFrame'></iframe>

                <script src='/scripts/thread.js'></script>
                <script nonce='<%= nonce %>'>
                    const validForm = '<%= formId %>';
                    const pow = <%- JSON.stringify(pow) %>;
                </script>
                <script src='/scripts/form.js'></script>
            </content>

<%- include('../../fragments/footer') %>