<%
    const mappedCategories = {};
    categories.forEach((category, index) => {
        mappedCategories[category._id.toString()] = index;
    });
%>
<%- include('../../fragments/header') %>
<%- include('../../fragments/sidebar') %>

            <content>
                <nav>
                    <ul>
                        <li>
                            <a href='/c/<%= slug %>/latest'>Latest</a>
                        </li>
                        <li>
                            <a href='/c/<%= slug %>/top'>Top</a>
                        </li>
<%
    if(isSignedIn){
%>
                        <filler></filler>
                        <li>
                            <a href='/thread'>New Thread</a>
                        </li>
<%
    }
%>
                    </ul>
                </nav>
                <table>
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th class='replies'>Replies</th>
                            <th class='views'>Views</th>
                            <th class='activity'>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
<%
    for(const thread of data){
%>
                        <tr>
                            <td>
                                <a href='/t/<%= thread._id.toString() %>'>
<%
        if(thread.pinned){
%>
                                    <svg viewBox='0 0 24 24'>
                                        <path d='M16,9V4l1,0c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H7C6.45,2,6,2.45,6,3v0 c0,0.55,0.45,1,1,1l1,0v5c0,1.66-1.34,3-3,3h0v2h5.97v7l1,1l1-1v-7H19v-2h0C17.34,12,16,10.66,16,9z' />
                                    </svg>
<%
        }
%>
                                    <%= thread.title %>
                                </a>
                                <categories>
<%
        for(const category of thread.categories){
%>
                                    <a href='/c/<%= categories[mappedCategories[category]].slug %>'><span class='<%= categories[mappedCategories[category]].slug %>'></span><%= categories[mappedCategories[category]].title %></a>
<%
        }
%>
                                </categories>
                                <a href='/t/<%= thread._id.toString() %>'>
                                    <div><%= thread.content.substr(0, 160).replace(/[^a-zA-Z0-9 ']/g, '') %></div>
                                </a>
                            </td>
                            <td class='replies'><%= thread.comments %></td>
                            <td class='views'><%= thread.views %></td>
                            <td class='activity'>1</td>
                        </tr>
<%
    }
%>
                    </tbody>
                </table>
            </content>

<%- include('../../fragments/footer') %>