<%
    const sideBarId = uniqid();
%>
<%- include('../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../fragments/sidebar') %>

            <style nonce='<%= nonce %>'>
<%
    for(const category of categories.data){
%>
                row.<%= category.slug %> {
                    border-left: solid 6px <%= category.color %>;
                }
<%
    }
%>
            </style>

            <content>
                <categories-header>
                    <h1>Category Edit</h1>
                </categories-header>

                <list>
                    <list-head>
                        <row>
                            <cell>Category</cell>
                        </row>
                    </list-head>
                    <list-body>
<%
    for(const category of data){
%>
                        <row class='<%= category.slug %>'>
                            <cell>
                                <a href='/c/<%= category.slug %>/edit'>
                                    <h2><%= category.title %></h2>
                                    <div><%= category.description %></div>
                                </a>
                            </cell>
                        </row>
<%
    }
%>
                    </list-body>
                </list>
            </content>

<%- include('../../fragments/footer') %>