<%
    const sideBarId = uniqid();
%><%- include('../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../fragments/sidebar') %>

            <style nonce='<%= nonce %>'>
<%
    for(const category of categories.data){
%>
                row.<%= category.slug %> {
                    border-left: solid 6px <%= category.color %>;
                }
<%
    }
%>
            </style>

            <content>
                <nav>
                    <ul>
                        <li>
                            <a href='/categories/new'>New</a>
                        </li>
                    </ul>
                </nav>

                <form valid-form='<% const uuid = uniqid(); %><%= uuid %>' action='https://api.<%= process.env.DOMAIN %>/categories' method='PUT' target='hiddenFrame'>
                    <list>
                        <list-head>
                            <row>
                                <cell>Category</cell>
                            </row>
                        </list-head>
                        <list-body>
<%
    for(const category of data){
%>
                            <row class='<%= category.slug %>' draggable='true'>
                                <cell>
                                    <a href='/c/<%= category.slug %>/edit'>
                                        <h2><%= category.title %></h2>
                                        <div><%= category.description %></div>
                                    </a>
                                </cell>
                                <cell>
                                    <svg viewBox='0 0 24 24'>
                                        <path d='M20,9H4v2h16V9z M4,15h16v-2H4V15z' />
                                    </svg>
                                </cell>
                                <input type='hidden' name='categories[]' value='<%= category._id.toString() %>' />
                            </row>
<%
    }
%>
                        </list-body>
                    </list>

                    <pow>
                        <svg viewBox='0 0 24 24'>
                            <path d='M18 12A6.41 6.41 0 0 1 20.87 12.67A11.63 11.63 0 0 0 21 11V5L12 1L3 5V11C3 16.55 6.84 21.74 12 23C12.35 22.91 12.7 22.8 13 22.68A6.42 6.42 0 0 1 11.5 18.5A6.5 6.5 0 0 1 18 12M18 14.5V13L15.75 15.25L18 17.5V16A2.5 2.5 0 0 1 20.24 19.62L21.33 20.71A4 4 0 0 0 18 14.5M18 21A2.5 2.5 0 0 1 15.76 17.38L14.67 16.29A4 4 0 0 0 18 22.5V24L20.25 21.75L18 19.5Z' />
                        </svg>
                        <span>PoW verification in progress.</span>
                    </pow>

                    <response></response>
                    
                    <input id='<% const buttonId = uniqid() %><%= buttonId %>' type='submit' disabled />
                    <label type='submit' for='<%= buttonId %>' disabled>Submit</label>
                </form>

                <iframe name='hiddenFrame'></iframe>

                <script nonce='<%= nonce %>'>
                    const validForm = '<%= uuid %>';
                    var pow = <%- JSON.stringify(pow) %>;
                </script>
                <script src='/scripts/form.js'></script>

                <script src='/scripts/categories.js'></script>
            </content>

<%- include('../../fragments/footer') %>