<%
    const sideBarId = uniqid();
%>
<%- include('../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../fragments/sidebar') %>

            <content>
                <user-header>
                    <user>
                        <img-container>
                            <img src='https://avatars.githubusercontent.com/u/20123198?v=4' onload='this.className = "show"' title='<%= data.username %>' draggable='false' oncontextmenu='return false'>
                        </img-container>
<%
    if(data.role > 1){
%>
                        <svg viewBox='0 0 24 24'>
                            <path d='M5 16L3 5L8.5 10L12 4L15.5 10L21 5L19 16H5M19 19C19 19.6 18.6 20 18 20H6C5.4 20 5 19.6 5 19V18H19V19Z' />
                        </svg>
<%
    }
%>
                        <%= data.username %>
                    </user>

                    <nav>
                        <ul>
                            <li>
                                <a href='/u/<%= data.username %>'>Summary</a>
                            </li>
                            <li>
                                <a href='/u/<%= data.username %>/posts'>Posts</a>
                            </li>

                            <li selected>
                                <a href='/u/<%= data.username %>/edit'>Edit</a>
                            </li>
                        </ul>
                    </nav>
                </user-header>

                <form valid-form='<% const formId = uniqid(); %><%= formId %>' action='https://api.<%= config.general.domain %>/user?id=<%= data._id.toString() %>' method='PUT' target='hiddenFrame'>
                    <input-field title='Username'>
                        <input type='text' name='user' required placeholder='Username' onkeypress='formAdjust(event)' value='<%= data.username %>' />
                    </input-field>

                    <input-field title='Email'>
                        <input type='email' name='email' required placeholder='Email' onkeypress='formAdjust(event)' value='<%= data.email %>' />
                    </input-field>

                    <%- include('../../fragments/editor', { placeholder: 'Write a bio using Markdown.', content: (data.bio) ? data.bio : '' }) %>

                    <response></response>
                            
                    <input id='<% const buttonId = uniqid() %><%= buttonId %>' type='submit' />
                </form>
                
                <label type='submit' for='<%= buttonId %>'>Submit</label>
                <iframe name='hiddenFrame'></iframe>

                <script nonce='<%= nonce %>'>
                    const validForm = '<%= formId %>';
                    const pow = <%- JSON.stringify(pow) %>;
                </script>
                <script src='/scripts/form.js'></script>
            </content>

<%- include('../../fragments/footer') %>
