<%
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    
    const sideBarId = uniqid();
%>
<%- include('../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../fragments/sidebar') %>

            <content>
                <thread-header>
                    <h1><%= data.thread.title %></h1>
                    <categories>
<%
    for(const category of data.thread.categories){
        const index = categories.indexes.indexOf(category.toString());
%>
                        <a href='/c/<%= categories.data[index].slug %>'><span class='<%= categories.data[index].slug %>'></span><%= categories.data[index].title %></a>
<%
    }
%>
                    </categories>
                </thread-header>

                <thread>
                    <a class='user-icon' href='/u/<%= data.user.username %>'>
                        <img src='<%= data.user.avatar %>' onload='this.className = "show"' title='<%= data.user.username %>' draggable='false' oncontextmenu='return false'>
                    </a>

                    <thread-inner>
                        <form valid-form='<% const formId = uniqid(); %><%= formId %>' action='https://api.<%= config.general.domain %>/comment?id=<%= id %>' method='PUT' target='hiddenFrame'>
                            <%- include('../../fragments/editor', { name: 'contnet', placeholder: 'Write a comment using Markdown.', content: data.content }) %>

                            <response></response>
                            
                            <input id='<% const buttonId = uniqid() %><%= buttonId %>' type='submit' />
                        </form>
                    </thread-inner>
                </thread>
                <label type='submit' for='<%= buttonId %>'>Submit</label>
                <iframe name='hiddenFrame'></iframe>

                <script nonce='<%= nonce %>'>
                    const validForm = '<%= formId %>';
                    var pow = <%- JSON.stringify(pow) %>;
                </script>
                <script src='/scripts/form.js'></script>
            </content>

<%- include('../../fragments/footer') %>