<%
    const sideBarId = uniqid();
%><%- include('../fragments/header', { sideBarId }) %>
        <section>
<%- include('../fragments/sidebar') %>

            <style nonce='<%= nonce %>'>
<%
    for(const category of categories.data){
%>
                row.<%= category.slug %> {
                    border-left: solid 6px <%= category.color %>;
                }
<%
    }
%>
            </style>

            <content>
                <nav>
                    <ul>
                        <li selected>
                            <a href='/categories'>Categories</a>
                        </li>
                        <li>
                            <a href='/latest'>Latest</a>
                        </li>
                        <li>
                            <a href='/top'>Top</a>
                        </li>
<%
    if(isSignedIn){
%>
                        <filler></filler>
                        
                        <li>
                            <a href='/thread'>New Thread</a>
                        </li>
<%
    }
%>
                    </ul>
                </nav>

                <list>
                    <list-head>
                        <row>
                            <cell>Category</cell>
                            <cell>Topics</cell>
                        </row>
                    </list-head>
                    <list-body>
<%
    for(const category of data){
%>
                        <row class='<%= category.slug %>'>
                            <cell>
                                <a href='/c/<%= category.slug %>'>
                                    <h2><%= category.title %></h2>
                                    <div><%= category.description %></div>
                                </a>
                            </cell>
                            <cell><%= category.threads %></cell>
                        </row>
<%
    }
%>
                    </list-body>
                </list>
            </content>

<%- include('../fragments/footer') %>