<%
    const sideBarId = uniqid();
%><%- include('../fragments/header', { sideBarId }) %>
        <section>
<%- include('../fragments/sidebar') %>

            <style nonce='<%= nonce %>'>
<%
    for(const category of categories.data){
%>
                row.<%= category.slug %> {
                    border-left: solid 6px <%= category.color %>;
                }
<%
    }
%>
            </style>

            <content>
                <nav>
                    <ul>
                        <li>
                            <a href='/categories'>Categories</a>
                        </li>
                        <li>
                            <a href='/latest'>Latest</a>
                        </li>
                        <li>
                            <a href='/top'>Top</a>
                        </li>
<%
    if(isSignedIn){
%>
                        <filler></filler>
                        
                        <li>
                            <a href='/thread'>New Thread</a>
                        </li>
<%
    }
%>
                    </ul>
                </nav>

                <lists>
                    <list type='categories'>
                        <list-head>
                            <row>
                                <cell>Category</cell>
                                <cell>Topics</cell>
                            </row>
                        </list-head>
                        <list-body>
<%
    for(const category of data.categories){
%>
                            <row class='<%= category.slug %>'>
                                <cell>
                                    <a href='/c/<%= category.slug %>'>
                                        <h2><%= category.title %></h2>
                                        <div><%= category.description %></div>
                                    </a>
                                </cell>
                                <cell><%= category.threads %></cell>
                            </row>
<%
    }
%>
                        </list-body>
                    </list>
                    
                    <list type='latest'>
                        <list-head>
                            <row>
                                <cell>Latest</cell>
                                <cell>Replies</cell>
                            </row>
                        </list-head>
                        <list-body>
<%
    for(const thread of data.latest){
%>
                            <row>
                                <cell>
                                    <a href='/t/<%= thread._id.toString() %>'>
<%
        if(thread.archived){
%>
                                        <svg viewBox='0 0 24 24'>
                                            <path d='M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM12 17.5L6.5 12H10v-2h4v2h3.5L12 17.5zM5.12 5l.81-1h12l.94 1H5.12z' />
                                        </svg>
<%
        }
%>
                                        <%= thread.title %>
                                    </a>
                                    <categories>
<%
        for(const category of thread.categories){
            const index = categories.indexes.indexOf(category.toString());
%>
                                        <a href='/c/<%= categories.data[index].slug %>'><span class='<%= categories.data[index].slug %>'></span><%= categories.data[index].title %></a>
<%
        }
%>
                                    </categories>
                                    <a href='/t/<%= thread._id.toString() %>'>
                                        <div><%= thread.content.substr(0, 160).replace(/[^a-zA-Z0-9 ']/g, '') %></div>
                                    </a>
                                </cell>
                                <cell><%= thread.comments %></cell>
                            </row>
<%
    }
%>
                        </list-body>
                    </list>
                </lists>
            </content>

<%- include('../fragments/footer') %>