<%- include('../fragments/header') %>
<%- include('../fragments/sidebar') %>

            <content>
                <nav>
                    <ul>
                        <li selected>
                            <a href='/'>Categories</a>
                        </li>
                        <li>
                            <a href='/latest'>Latest</a>
                        </li>
                        <li>
                            <a href='/top'>Top</a>
                        </li>
                    </ul>
                </nav>
                <lists>
                    <list>
                        <list-head>
                            <row>
                                <cell>Category</cell>
                                <cell>Topics</cell>
                            </row>
                        </list-head>
                        <list-body>
<%
    for(const category of data){
%>
                            <row style='border-left: solid 6px <%= category.color %>'>
                                <cell>
                                    <a href='/c/<%= category.slug %>'>
                                        <h2><%= category.title %></h2>
                                        <div><%= category.description %></div>
                                    </a>
                                </cell>
                                <cell><%= category.threads %></cell>
                            </row>
<%
    }
%>
                        </list-body>
                    </list>
                    <list>
                        <list-head>
                            <row>
                                <cell>Latest</cell>
                                <cell>Topics</cell>
                            </row>
                        </list-head>
                        <list-body>
<%
    for(const category of data){
%>
                            <row style='border-left: solid 6px <%= category.color %>'>
                                <cell>
                                    <a href='/c/<%= category.slug %>'>
                                        <h2><%= category.title %></h2>
                                        <div><%= category.description %></div>
                                    </a>
                                </cell>
                                <cell><%= category.threads %></cell>
                            </row>
<%
    }
%>
                        </list-body>
                    </list>
                </lists>
            </content>

<%- include('../fragments/footer') %>