<%- include('../fragments/header') %>
<%- include('../fragments/sidebar') %>

            <content>
                <nav>
                    <ul>
                        <li>
                            <a href='/'>Categories</a>
                        </li>
                        <li selected>
                            <a href='/latest'>Latest</a>
                        </li>
                        <li>
                            <a href='/top'>Top</a>
                        </li>
                        <filler></filler>
                        <li>
                            <a href='/thread'>New Thread</a>
                        </li>
                    </ul>
                </nav>
                <table>
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th class='replies'>Replies</th>
                            <th class='views'>Views</th>
                            <th class='activity'>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
<%
    const mappedCategories = {};
    data.categories.forEach((category, index) => {
        mappedCategories[category._id.toString()] = index;
    });

    for(const thread of data.threads){
%>
                        <tr<% if(thread.pinned){ %> pinned<% } %>>
                            <td>
                                <a href='/t/<%= thread._id.toString() %>'><%= thread.title %></a>
                                <categories>
<%
        for(const category of thread.categories){
%>
                                    <a href='/c/<%= data.categories[mappedCategories[category]].slug %>'><span style='background-color: <%= data.categories[mappedCategories[category]].color %>'></span><%= data.categories[mappedCategories[category]].title %></a>
<%
        }
%>
                                </categories>
                                <a href='/t/<%= thread._id.toString() %>'>
                                    <div><%= thread.content.substr(0, 160) %></div>
                                </a>
                            </td>
                            <td class='replies'>1</td>
                            <td class='views'><%= thread.views %></td>
                            <td class='activity'>1</td>
                        </tr>
<%
    }
%>
                    </tbody>
                </table>
            </content>

<%- include('../fragments/footer') %>