<%- include('../fragments/header') %>
<%- include('../fragments/sidebar') %>

            <content>
                <thread-header>
                    <h1>New Thread</h1>
                </thread-header>

                <thread>
                    <a href='/u/'>
                        <img src='https://avatars.githubusercontent.com/u/20123198?v=4'>
                    </a>

                    <thread-inner>
                        <form action='https://api.<%= config.general.domain %>/thread' method='POST' onsubmit='onSubmit(event)' target='hiddenFrame'>
                            <input-field title='Title'>
                                <input type='text' name='title' required placeholder='Title' onkeypress='formAdjust(event)' />
                            </input-field>

                            <selector-header>
                                <input name='category' type='hidden' value='0' />
                                <input id='category-selector-toggle' type='checkbox' class='fl-select'>

                                <label id='category-selector' for='category-selector-toggle' label='Select Category'>
                                    <fl-options>
                                        <fl-option value='0'>Select Category</fl-option>
<%
    for(const category of categories){
%>
                                        <fl-option value='<%= category._id.toString() %>'><span class='<%= category.slug %>'></span><%= category.title %></fl-option>
<%
    }
%>
                                    </fl-options>
                                </label>
                            </selector-header>

                            <%- include('../fragments/editor') %>

                            <response></response>
                            
                            <input type='submit' value='Submit' />
                        </form>
                    </thread-inner>
                </thread>
                <iframe name='hiddenFrame'></iframe>

                <script src='/scripts/thread.js'></script>
            </content>

<%- include('../fragments/footer') %>