<%
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    const mappedCategories = {};
    categories.forEach((category, index) => {
        mappedCategories[category._id.toString()] = index;
    });
%>
<%- include('../fragments/header') %>
<%
    if(data.locked){
%>
        <archive>This thread has been archived. It is now read-only.</archive>
        <style nonce='<%= nonce %>'>
            :root {
                --top: calc(90px + 1em) !important;
            }
        </style>
<%
    }
%>
        <section>
<%- include('../fragments/sidebar') %>

            <content>
                <thread-header>
                    <h1><%= data.title %></h1>
                    <categories>
<%
    for(const category of data.categories){
%>
                        <a href='/c/<%= categories[mappedCategories[category]].slug %>'><span class='<%= categories[mappedCategories[category]].slug %>'></span><%= categories[mappedCategories[category]].title %></a>
<%
    }
%>
                    </categories>
                </thread-header>

                <comments>
                    <comment>
                        <a class='user-icon' href='/u/<%= data.user.username %>'>
                            <img src='https://avatars.githubusercontent.com/u/20123198?v=4' onload='this.className = "show"' title='<%= data.user.username %>' draggable='false' oncontextmenu='return false'>
                        </a>
    
                        <comment-inner>
                            <comment-header>
                                <h3>
                                    <a href='/u/<%= data.user.username %>'><%= data.user.username %></a>
                                </h3>
                                <date><% const date = new Date(data.created); %><%= months[date.getUTCMonth()]+' '+date.getUTCDate()+', '+date.getFullYear() %></date>
                                <button>
                                    <svg viewBox='0 0 24 24'>
                                        <path d='M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z' />
                                    </svg>
                                </button>
                            </comment-header>
                            <preview>
                                <%- data.content %>
                            </preview>
                        </comment-inner>
                    </comment>
<%
    console.log(data);
    if(data.comments.total > 0){
        for(const comment of data.comments.comments){
%>
                    <comment>
                        <a class='user-icon' href='/u/<%= comment.user.username %>'>
                            <img src='https://avatars.githubusercontent.com/u/20123198?v=4' onload='this.className = "show"' title='<%= comment.user.username %>' draggable='false' oncontextmenu='return false'>
                        </a>

                        <comment-inner>
                            <comment-header>
                                <h3>
                                    <a href='/u/<%= comment.user.username %>'><%= comment.user.username %></a>
                                </h3>
                                <date><% const date = new Date(comment.created); %><%= months[date.getUTCMonth()]+' '+date.getUTCDate()+', '+date.getFullYear() %></date>
                                <button>
                                    <svg viewBox='0 0 24 24'>
                                        <path d='M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z' />
                                    </svg>
                                </button>
                            </comment-header>
                            <preview>
                                <%- comment.content %>
                            </preview>
                        </comment-inner>
                    </comment>
<%
        }
    }
%>
                </comments>
<%
    if(isSignedIn && !data.locked){
%>
                <reply>
                    <a class='user-icon' href='/u/<%= user.username %>'>
                        <img src='https://avatars.githubusercontent.com/u/20123198?v=4' onload='this.className = "show"' title='<%= user.username %>' draggable='false' oncontextmenu='return false'>
                    </a>

                    <reply-inner>
                        <form valid-form='<% const uuid = uniqid(); %><%= uuid %>' action='https://api.<%= config.general.domain %>/comment?id=<%= id %>' method='POST' target='hiddenFrame'>
                            <%- include('../fragments/editor') %>

                            <response></response>
                            
                            <input type='submit' value='Comment' />
                        </form>

                        <iframe name='hiddenFrame'></iframe>
                        <script nonce='<%= nonce %>'>
                            const validForm = '<%= uuid %>';
                        </script>
                        <script src='/scripts/form.js'></script>
                    </reply-inner>
                </reply>
<%
    }
%>
            </content>

<%- include('../fragments/footer') %>