<%
    const sideBarId = uniqid();
%>
<%- include('../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../fragments/sidebar') %>

            <content>
                <thread-header>
                    <h1>New Thread</h1>
                </thread-header>

                <thread>
                    <a class='user-icon' href='/u/<%= user.username %>'>
                        <img src='<%= user.avatar %>' onload='this.className = "show"' title='<%= user.username %>' draggable='false' oncontextmenu='return false'>
                    </a>

                    <thread-inner>
                        <form valid-form='<% const formId = uniqid(); %><%= formId %>' action='https://api.<%= config.general.domain %>/thread' method='POST' target='hiddenFrame'>
                            <input-field title='Title'>
                                <input type='text' name='title' required placeholder='Title' onkeypress='formAdjust(event)' />
                            </input-field>

                            <selector-header>
                                <input name='categories[]' type='hidden' value='0' />
                                <input id='category-selector-toggle' type='checkbox' class='fl-select'>

                                <label id='category-selector' for='category-selector-toggle' label='Select Category'>
                                    <fl-options>
                                        <fl-option value='0'>Select Category</fl-option>
<%
    for(const category of categories){
%>
                                        <fl-option value='<%= category._id.toString() %>'><span class='<%= category.slug %>'></span><%= category.title %></fl-option>
<%
    }
%>
                                    </fl-options>
                                </label>
                            </selector-header>

                            <%- include('../../fragments/editor', { name: 'contnet', placeholder: 'Write a thread using Markdown.' }) %>

                            <response></response>
                            
                            <input id='<% const buttonId = uniqid() %><%= buttonId %>' type='submit' />
                        </form>
                    </thread-inner>
                </thread>
                <label type='submit' for='<%= buttonId %>'>Submit</label>
                <iframe name='hiddenFrame'></iframe>

                <script src='/scripts/new-thread.js'></script>
                <script nonce='<%= nonce %>'>
                    const validForm = '<%= formId %>';
                    var pow = <%- JSON.stringify(pow) %>;
                </script>
                <script src='/scripts/form.js'></script>
            </content>

<%- include('../../fragments/footer') %>