<%
    const sideBarId = uniqid();
%>
<%- include('../../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../../fragments/sidebar') %>

            <content>
                <form valid-form='<% const formId = uniqid(); %><%= formId %>' action='https://api.<%= config.general.domain %>/categories/edit' method='PUT' target='hiddenFrame'>


                </form>
            </content>

<%- include('../../../fragments/footer') %>