<%
    const sideBarId = uniqid();
%>
<%- include('../../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../../fragments/sidebar') %>

            <content>
                <form valid-form='<% const formId = uniqid(); %><%= formId %>' action='https://api.<%= config.general.domain %>/categories/edit' method='PUT' target='hiddenFrame'>

                    <a href='/categories/edit/<%= slug %>'></a>
                    <%
                    /*
                    {
                        _id: new ObjectId('673e87aa16d259f4b177f66e'),
                        title: 'Feedback',
                        description: 'Something about feedback',
                        slug: 'feedback',
                        color: '#652D90'
                    }
                    */
                    %>

                </form>
            </content>

<%- include('../../../fragments/footer') %>