<%
    const sideBarId = uniqid();
%>
<%- include('../../../fragments/header', { sideBarId }) %>
        <section>
<%- include('../../../fragments/sidebar') %>

            <content>
                <category-header>
                    <h1>New Category</h1>
                </category-header>

                <category>
                    <form valid-form='<% const formId = uniqid(); %><%= formId %>' action='https://api.<%= config.general.domain %>/category' method='POST' target='hiddenFrame'>
                        <input-field title='Title'>
                            <input type='text' name='title' required placeholder='Title' onkeypress='formAdjust(event)' />
                        </input-field>

                        <input id='<% const checkboxId = uniqid(); %><%= checkboxId %>' type='checkbox' name='admin_only' required />
                        <label for='<%= checkboxId %>' type='checkbox' description='Only admins are allowed to post.'>
                            <svg viewBox='0 0 24 24'>
                                <path d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z' />
                            </svg>
                        </label>

                        <input id='<% const colorId = uniqid(); %><%= colorId %>' type='color' name='color' required />
                        <label for='<%= colorId %>' type='color' description='Select category color.'>
                            <span></span>
                        </label>

                        <input-field title='Description'>
                            <textarea type='description' name='description' required placeholder='Description' onkeypress='formAdjust(event)'></textarea>
                        </input-field>

                        <response></response>
                                
                        <input id='<% const buttonId = uniqid() %><%= buttonId %>' type='submit' />
                    </form>
                </category>
                
                <label type='submit' for='<%= buttonId %>'>Submit</label>
                <iframe name='hiddenFrame'></iframe>

                <script nonce='<%= nonce %>'>
                    const colorId = '<%= colorId %>';

                    document.getElementById(colorId).onchange = function(e){
                        document.querySelector(`label[for='${colorId}'] span`).style.backgroundColor = this.value;
                    };
                </script>
            </content>

<%- include('../../../fragments/footer') %>