<%- include('../../fragments/header') %>
        <section>
<%- include('../../fragments/sidebar') %>

            <content>
                <user-header>
                    <user>
                        <img-container>
                            <img src='https://avatars.githubusercontent.com/u/20123198?v=4' onload='this.className = "show"' title='<%= data.username %>' draggable='false' oncontextmenu='return false'>
                        </img-container>
<%
    if(data.role > 1){
%>
                        <svg viewBox='0 0 24 24'>
                            <path d='M5 16L3 5L8.5 10L12 4L15.5 10L21 5L19 16H5M19 19C19 19.6 18.6 20 18 20H6C5.4 20 5 19.6 5 19V18H19V19Z' />
                        </svg>
<%
    }
%>
                        <%= data.username %>
                    </user>

                    <nav>
                        <ul>
                            <li selected>
                                <a href='/u/<%= username %>'>Summary</a>
                            </li>
                            <li>
                                <a href='/u/<%= username %>/posts'>Posts</a>
                            </li>
<%
    if(isSignedIn){
        if(user.id == data._id.toString()){
%>
                            <li>
                                <a href='/u/<%= username %>/edit'>Edit</a>
                            </li>
<%
        }
    }
%>
                        </ul>
                    </nav>
                </user-header>

                <bio><% if(typeof data.bio !== 'undefined'){ %><%- data.bio %><% } %></bio>
            </content>

<%- include('../../fragments/footer') %>
