        <style nonce='<%= nonce %>'>
<%
    for(const category of categories){
%>
            span.<%= category.slug %> {
                background-color: <%= category.color %>;
            }
<%
    }
%>
        </style>
        <sidebar>
            <a href='/' type='topics'<% if(page == 'home'){ %> selected<% } %>>Topics</a>
<%
    if(isSignedIn){
%>
            <a href='/u/<%= user.username %>' type='user'<% if(page == 'user'){ %> selected<% } %>>My Posts</a><br>
<%
    }
%>
            <a href='/' type='more'>More</a><br>
            <input id='<% let uuid = uniqid(); %><%= uuid %>' type='checkbox' checked>
            <label for='<%= uuid %>'>Categories</label>
            <container>
<%
    for(const category of categories){
%>
                <a href='/c/<%= category.slug %>'<% if(page == `category_${category.slug}`){ %> selected<% } %>><span class='<%= category.slug %>'></span><%= category.title %></a>
<%
    }
%>
                <a href='/' type='all'>All Categories</a>
            </container><br>
            <a href='/tags' type='all'>All Tags</a>
        </sidebar>
