<%
    for(const category of data.categories){
%>
        <style nonce='<%= nonce %>'>
            span.<%= category.slug %> {
                background-color: <%= category.color %>;
            }
        </style>
<%
    }
%>
        <sidebar>
            <a href='/' type='topics' selected>Topics</a>
            <a href='/' type='more'>More</a><br>
            <input id='<% let uuid = uniqid(); %><%= uuid %>' type='checkbox' checked>
            <label for='<%= uuid %>'>Categories</label>
            <container>
<%
    for(const category of data.categories){
%>
                <a href='/c/<%= category.slug %>'><span class='<%= category.slug %>'></span><%= category.title %></a>
<%
    }
%>
                <a href='/' type='all'>All Categories</a>
            </container><br>
            <a href='/tags' type='all'>All Tags</a>
        </sidebar>
